.homepage {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.homepage .tag-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: scroll;
  margin: 10vh 0 0 0;
  padding: 0 10vw;
  height: 10vh;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.homepage .tag-bar .tag-container .tag-item {
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px 15px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.homepage .tag-bar .tag-container .tag-item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.homepage .tag-bar .tag-container .tag-active {
  background-color: #313131;
  color: white;
}

@media only screen and (min-width: 768px) {
  .homepage .tag-bar .tag-container .tag-item {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .homepage .tag-bar .tag-container .tag-item {
    font-size: 20px;
  }
}

.homepage .tag-bar::-webkit-scrollbar {
  height: 8px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.homepage .tag-bar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

.homepage .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.homepage .posts .post-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-content: center;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5vh 0 0 0;
  border-radius: 15px;
  padding: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.homepage .posts .post-inner .post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.homepage .posts .post-inner .post-container p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.homepage .posts .post-inner .post-container .file-container {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

.homepage .posts .post-inner .post-container .file-container video, .homepage .posts .post-inner .post-container .file-container img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 768px) {
  .homepage .posts .post-inner {
    width: 75%;
  }
  .homepage .posts .post-inner .post-container p {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1024px) {
  .homepage .posts .post-inner {
    width: 55%;
    gap: 3%;
  }
  .homepage .posts .post-inner .post-container {
    width: 30%;
  }
  .homepage .posts .post-inner .post-container p {
    font-size: 22px;
  }
}

.homepage-leave {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media only screen and (min-width: 1366px) {
  .homepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .homepage .tag-bar {
    width: 45%;
    padding: 0;
  }
  .homepage .tag-bar .tag-item {
    padding: 0 10px;
  }
  .homepage .posts {
    z-index: 0;
    background: transparent;
  }
  .homepage .posts .post-inner {
    width: 45%;
    margin: 15px 0 5vh 0;
    padding: 60px 5px 60px 5px;
    border-radius: 30px;
  }
  .homepage .posts .post-inner .post-container {
    width: 29%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    padding: 5px;
    border-radius: 5px;
  }
  .homepage .posts .post-inner .post-container:hover {
    background-color: #e7e7e7;
  }
}
/*# sourceMappingURL=homepage.css.map */