@import '../../sass/flex.scss';

$bg-color: url('../../images/overlay.png'), linear-gradient(45deg, rgb(204, 204, 204) 0%, rgb(253, 244, 205) 100%);
$real-bg: url('../../images/overlay.png'), linear-gradient(45deg, rgb(236, 236, 236) 0%, rgb(218, 206, 141) 100%);

.homepage {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s ease;

    .tag-bar {
        @include flexCenter(row);
        justify-content: flex-start;
        overflow-x: scroll;
        margin: 10vh 0 0 0;
        padding: 0 10vw;
        height: 10vh;
        gap: 20px;
        -ms-overflow-style: none;
        scrollbar-width: none;


        .tag-container {

            .tag-item {
                font-size: 20px;
                border: 1px solid gray;
                border-radius: 25px;
                padding: 5px 15px;
                cursor: pointer;
                white-space: nowrap;
                transition: 0.3s ease;
            }

            .tag-item:hover {
                transform: translateY(-3px);
            }

            .tag-active {
                background-color: rgb(49, 49, 49);
                color: white;
            }
        }

        @media only screen and (min-width: 768px) {

            .tag-container {

                .tag-item {
                    font-size: 30px;
                }
            }
        }

        @media only screen and (min-width: 1024px) {

            .tag-container {

                .tag-item {
                    font-size: 20px;
                }
            }
        }
    }
    .tag-bar::-webkit-scrollbar {
        height: 8px;
        border: 1px solid rgb(211, 211, 211);
        border-radius: 5px;
    }

    .tag-bar::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 5px
    }

    .posts {
        @include flexCenter(column);
        width: 100%;


        .post-inner {
            @include flexCenter(row);
            align-items: flex-start;
            justify-content: center;
            width: 80%;
            flex-wrap: wrap;
            margin: 5vh 0 0 0;
            border-radius: 15px;
            padding: 15px;
            backdrop-filter: blur(5px);

    
            .post-container {
                @include flexCenter(column);
                width: 100%;
                height: fit-content;
                position: relative;
                overflow: hidden;
                cursor: pointer;
    
                p {
                    align-self: flex-start;
                    white-space: nowrap;
                    font-size: 24px;
                }
    
                .file-container {
                    width: 100%;
                    aspect-ratio: 1;
                    position: relative;
    
                    video, img {
                        width: 100%;
                        height: fit-content;
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }

        @media only screen and (min-width: 768px) {
            .post-inner {
                width: 75%;

                .post-container {
                    width: 45%;
                    
                    p {
                        font-size: 32px;
                    }
                }
            }
        }

        @media only screen and (min-width: 1024px) {
            .post-inner {
                width: 55%;
                gap:3%;

                .post-container {
                    width: 30%;

                    p {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

.homepage-leave {
    opacity: 0;
    transform: translateY(-30px)
}

@media only screen and (min-width: 1366px) {
    .homepage {
        @include flexCenter(column);
        justify-content: flex-start;

        .tag-bar {
            width: 45%;
            padding: 0;

            .tag-item {
                padding: 0 10px;

            }
        }

        .posts {
            z-index: 0;
            background: transparent;

            .post-inner {
                width: 45%;
                margin: 15px 0 5vh 0;
                padding: 60px 5px 60px 5px;
                border-radius: 30px;

                .post-container {
                    width: 29%;
                    transition: 0.3s ease;
                    padding: 5px;
                    border-radius: 5px;
                }

                .post-container:hover {
                    background-color: rgb(231, 231, 231);
                }
            }
        }
    }
}