.homepage {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.homepage .tag-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: scroll;
  margin: 10vh 0 0 0;
  padding: 0 10vw;
  height: 10vh;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.homepage .tag-bar .tag-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.homepage .tag-bar .tag-container .tag-item {
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px 15px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.homepage .tag-bar .tag-container .tag-active {
  background-color: #3b3b5c;
  color: white;
}

.homepage .tag-bar::-webkit-scrollbar {
  height: 8px;
  border: 1px solid lightgray;
}

.homepage .tag-bar::-webkit-scrollbar-thumb {
  background-color: gray;
}

.homepage .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.homepage .posts .post-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-content: center;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5vh 0 0 0;
  border-radius: 15px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.homepage .posts .post-inner .post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.homepage .posts .post-inner .post-container p {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.homepage .posts .post-inner .post-container .file-container {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

.homepage .posts .post-inner .post-container .file-container video, .homepage .posts .post-inner .post-container .file-container img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0;
}

.homepage .triangle {
  position: fixed;
  width: 200px;
  aspect-ratio: 1;
  z-index: -1;
  overflow: hidden;
  -webkit-transform: rotate(180deg) scaleX(0.6) scale(2);
          transform: rotate(180deg) scaleX(0.6) scale(2);
  -webkit-animation: triangle infinite 5s ease;
          animation: triangle infinite 5s ease;
}

.homepage .triangle .triangle-inner {
  background: url("../../images/overlay.png"), linear-gradient(45deg, #cccccc 0%, #fdf4cd 100%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 150px;
  height: 106px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.homepage .circle {
  position: fixed;
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: -1;
  background: url("../../images/overlay.png"), linear-gradient(45deg, #cccccc 0%, #fdf4cd 100%);
  -webkit-animation: circle infinite 52s ease;
          animation: circle infinite 52s ease;
}

.homepage .square {
  position: fixed;
  width: 200px;
  aspect-ratio: 1;
  border-radius: 5%;
  z-index: -1;
  background: url("../../images/overlay.png"), linear-gradient(45deg, #cccccc 0%, #fdf4cd 100%);
  -webkit-animation: square infinite 52s cubic-bezier(0.79, 0.41, 0.19, 0.59);
          animation: square infinite 52s cubic-bezier(0.79, 0.41, 0.19, 0.59);
}

.homepage-leave {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@-webkit-keyframes triangle {
  100%, 0% {
    top: 10vh;
    left: -34vw;
  }
  50% {
    top: 10vh;
    left: -26vw;
  }
}

@keyframes triangle {
  100%, 0% {
    top: 10vh;
    left: -34vw;
  }
  50% {
    top: 10vh;
    left: -26vw;
  }
}

@-webkit-keyframes circle {
  100%, 0% {
    bottom: 10vh;
    right: -10vw;
  }
  50% {
    bottom: 50vh;
  }
}

@keyframes circle {
  100%, 0% {
    bottom: 10vh;
    right: -10vw;
  }
  50% {
    bottom: 50vh;
  }
}

@-webkit-keyframes square {
  0% {
    top: 70vh;
    left: 15vw;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    top: 73vh;
    left: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    top: 70vh;
    left: 15vw;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes square {
  0% {
    top: 70vh;
    left: 15vw;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    top: 73vh;
    left: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    top: 70vh;
    left: 15vw;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=homepage.css.map */