.user-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
  width: 100%;
  gap: 5vh;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 10vh 0 0 0;
}

.user-page .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  gap: 5%;
}

.user-page .profile h1 {
  text-align: left;
}

.user-page .profile .icon {
  width: 20%;
  background-color: #e2e2e2;
  aspect-ratio: 1;
  border-radius: 50%;
}

.user-page .creation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  gap: 5vh;
}

.user-page .creation-container p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-page .creation-container .creations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.user-page .creation-container .creations .creation-main {
  width: 45%;
}

.user-page .creation-container .creations .creation-main h1 {
  font-size: 20px;
}

.user-page .creation-container .creations .creation-main .creation-file {
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}

.user-page .creation-container .creations .creation-main .creation-file img, .user-page .creation-container .creations .creation-main .creation-file video {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .user-page .profile {
    width: 75%;
  }
  .user-page .creation-container {
    width: 75%;
  }
  .user-page .creation-container p {
    font-size: 24px;
  }
  .user-page .creation-container .creations .creation-main h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1366px) {
  .user-page .profile {
    width: 45%;
  }
  .user-page .creation-container {
    padding: 30px 0 30px 0;
    margin: 0 0 10vh 0;
    width: 45%;
    border-radius: 30px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .user-page .creation-container p {
    font-size: 24px;
  }
  .user-page .creation-container .creations .creation-main {
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 5px;
    padding: 5px;
  }
  .user-page .creation-container .creations .creation-main h1 {
    font-size: 30px;
  }
  .user-page .creation-container .creations .creation-main:hover {
    background-color: #e7e7e7;
  }
}

@media only screen and (min-width: 1366px) {
  .user-page .profile {
    width: 35%;
  }
  .user-page .creation-container {
    width: 45%;
  }
  .user-page .creation-container .creations .creation-main {
    width: 30%;
  }
  .user-page .creation-container .creations .creation-main h1 {
    font-size: 26px;
  }
}

.user-leave {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
/*# sourceMappingURL=user.css.map */