@import '../../sass/flex.scss';

.user-page {
    @include flexCenter(column);
    z-index: 0;
    width: 100%;
    gap: 5vh;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease;
    padding: 10vh 0 0 0;

    .profile {
        @include flexCenter(row);
        width: fit-content;
        gap: 5%;
        padding: 1% 0 1% 0;
        border-top: 1px solid rgb(236, 236, 236);
        border-bottom: 1px solid rgb(236, 236, 236);

        h1 {
            text-align: left;
        }
    }

    .creation-container {
        @include flexCenter(column);
        align-items: flex-start;
        width: 90%;
        gap: 5vh;
        margin: 0 0 5vh 0;
        
        p {
            align-self: center;
        }

        .creations {
            @include flexCenter(row);
            flex-wrap: wrap;
            width: 100%;

            .creation-main {
                width: 100%;

                h1 {
                    font-size: 24px;
                }

                .creation-file {
                    width: 100%;
                    aspect-ratio: 1;
                    overflow: hidden;

                    img, video {
                        width: 100%;
                    }
                }

            }
        }
    }

    @media only screen and (min-width: 768px) {
        .profile {
            width: 75%;
        }

        .creation-container {
            width: 75%;

            p {
                font-size: 24px;
            }

            .creations {

                .creation-main {
                    width: 45%;

                    h1 {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1366px) {
        .profile {
            width: 45%;
        }

        .creation-container {
            padding: 30px 0 30px 0;
            margin: 0 0 10vh 0;
            width: 45%;
            border-radius: 30px;
            transition: 0.3s ease;

            p {
                font-size: 24px;
            }

            .creations {

                .creation-main {
                    cursor: pointer;
                    transition: 0.3s ease;
                    border-radius: 5px;
                    padding: 5px;

                    h1 {
                        font-size: 30px;
                    }
                }

                .creation-main:hover {
                    background-color: rgb(231, 231, 231);
                }
            }
        }
    }

    @media only screen and (min-width: 1366px) {
        .profile {
            width: 35%;
        }

        .creation-container {
            width: 45%;

            .creations {

                .creation-main {
                    width: 30%;

                    h1 {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}

.user-leave {
    opacity: 0;
    transform: translateY(-30px);
}