.sign-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fcfcfc;
  overflow: hidden;
  position: relative;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.sign-page input, .sign-page button {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #dddddd;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
}

.sign-page button {
  background-color: #494949;
  color: white;
}

.sign-page .sign-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  height: 70%;
  width: 200vw;
  left: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.sign-page .sign-container .sign-in, .sign-page .sign-container .sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  aspect-ratio: 1;
}

.sign-page .sign-container .sign-in form, .sign-page .sign-container .sign-up form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 70%;
  gap: 2%;
}

.sign-page .sign-container .sign-in form .sign-up-detour, .sign-page .sign-container .sign-up form .sign-up-detour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 5px;
}

.sign-page .sign-container .sign-in form .sign-up-detour p, .sign-page .sign-container .sign-up form .sign-up-detour p {
  font-weight: 300;
  color: #4aa5f0;
  cursor: hover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sign-page .sign-container .sign-in form .sign-up-detour h3, .sign-page .sign-container .sign-up form .sign-up-detour h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  font-weight: 300;
}

.sign-page .sign-container .sign-in form .error, .sign-page .sign-container .sign-up form .error {
  color: red;
  -webkit-animation: error 1s infinite ease;
          animation: error 1s infinite ease;
}

.sign-page .sign-container .sign-up {
  opacity: 0;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.sign-page .sign-container .sign-up-anim {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.sign-page .sign-up-page {
  left: -100vw;
}

.sign-leave {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media only screen and (min-width: 768px) {
  .sign-page .sign-container .sign-in form, .sign-page .sign-container .sign-up form {
    height: 50%;
    width: auto;
    aspect-ratio: 1;
    gap: 25px;
    padding: 10vw;
    background-color: rgba(238, 238, 238, 0.5);
    border: 1px solid white;
    border-radius: 15px;
  }
  .sign-page .sign-container .sign-in form h1, .sign-page .sign-container .sign-up form h1 {
    font-size: 30px;
  }
  .sign-page .sign-container .sign-in form input, .sign-page .sign-container .sign-in form button, .sign-page .sign-container .sign-up form input, .sign-page .sign-container .sign-up form button {
    font-size: 18px;
  }
  .sign-page .sign-container .sign-in form .sign-up-detour p, .sign-page .sign-container .sign-up form .sign-up-detour p {
    font-size: 24px;
  }
  .sign-page .sign-container .sign-in form .sign-up-detour h3, .sign-page .sign-container .sign-up form .sign-up-detour h3 {
    font-size: 24px;
  }
}

@-webkit-keyframes error {
  100%, 0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes error {
  100%, 0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/*# sourceMappingURL=sign.css.map */