@import '../../sass/flex.scss';

$border: 2px solid black;

@mixin bracketBorder($left, $right) {
    border-top: $border;
    border-bottom: $border;
    border-left: $left;
    border-right: $right;
}

header {
    width: 100vw;
    overflow: hidden;
}

nav {
    height: 10vh;
    width: 100%;
    @include flexCenter(row);
    justify-content: space-between;
    position: relative;

    .create-btn {
        width: fit-content;
        text-align: left;
        position: relative;
        padding: 0 15px;
        @include flexCenter(row);

        .create-1, .create-2 {
            position: absolute;
            height: 100%;
            width: 5px;
        }

        .create-1 {
            @include bracketBorder($border, none );
            top: 0;
            left: 10px;
        }

        .create-2 {
            @include bracketBorder(none, $border );
            top: 0;
            right: 10px;
        }
    }

    .search-box {
        position: absolute;
        width: 100%;
        opacity: 0;
        input {
            width: 90%;
        }
    }

    .search-ham {
        @include flexCenter(row);
        width: fit-content;
        gap: 10px;
        padding: 0 10px;

        .search-icon {
            font-size: 20px;
        }

        .ham-main {
            @include flexCenter(column);
            gap: 6px;
            width: 30px;
            aspect-ratio: 1;

            .ham-1, .ham-2, .ham-3 {
                height: 2px;
                width: 24px;
                background-color: black;
            }
        }
    }

}