@import '../../sass/flex.scss';

$border: 2px solid black;

@mixin bracketBorder($left, $right) {
    border-top: $border;
    border-bottom: $border;
    border-left: $left;
    border-right: $right;
}

header {
    width: 100vw;
    overflow: hidden;
}

nav {
    height: 10vh;
    width: 100%;
    @include flexCenter(row);
    justify-content: space-between;
    position: relative;

    .create-btn {
        width: fit-content;
        text-align: left;
        position: relative;
        padding: 0 15px;
        @include flexCenter(row);
        transition: 0.3s ease;

        h1 {
            cursor: pointer;
        }

        .create-1, .create-2 {
            position: absolute;
            height: 80%;
            width: 5px;
        }

        .create-1 {
            @include bracketBorder($border, none );
            top: 0;
            left: 10px;
        }

        .create-2 {
            @include bracketBorder(none, $border );
            top: 0;
            right: 10px;
        }
    }

    .create-active {
        transform: scaleY(0) translateY(20px);
        opacity: 0;
    }

    .search-box {
        position: absolute;
        width: 50%;
        height: 100%;
        opacity: 0;
        border: none;
        z-index: -1;
        outline: none;
        font-size: 20px;
        transition: 0.3s ease;
        transform: translateY(-20px) scaleY(0) ;
        padding: 0 10px;
        background: none;
    }

    .search-active {
        opacity: 1;
        z-index: 1;
        transform: translateY(0px);
    }

    .search-ham {
        @include flexCenter(row);
        width: fit-content;
        gap: 10px;
        padding: 0 10px;
        z-index: 4;

        .search-icon {
            font-size: 20px;
            cursor: pointer;
            z-index: 2;
        }

        .ham-main {
            @include flexCenter(column);
            gap: 6px;
            width: 30px;
            aspect-ratio: 1;
            cursor: pointer;

            .ham-1, .ham-2, .ham-3 {
                height: 2px;
                width: 24px;
                background-color: black;
                transition: 0.3s ease;
            }

            .ham-1 {
                transform-origin: top left;
            }

            .ham-3 {
                transform-origin: bottom left;
            }

            .ham-active-1, .ham-active-2, .ham-active-3 {
                background-color: white;
            }

            .ham-active-1 {
                transform: rotate(45deg)
            }

            .ham-active-2 {
                transform: translateX(40px);
                opacity: 0;
            }

            .ham-active-3 {
                transform: rotate(-45deg)
            }
        }
    }
}

.nav-links {
    @include flexCenter(row);
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    pointer-events: none;
    z-index: -1;
    background-color: black;
    opacity: 0;
    transition: 0.3s ease;

    .nav-links-main {
        @include flexCenter(column);
        gap: 1em;
        width: 90%;
        align-items: flex-end;

        a {
            h1 {
                color: white;
            }
        }
    }    
}


.nav-links-active {
    opacity: 1;
    pointer-events: all;
    z-index: 3;
}
