@import '../../sass/flex.scss';

header {
    width: 100vw;
    overflow: hidden;
}

nav {
    height: 10vh;
    width: 100%;
    @include flexCenter(row);
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(15px);

    .create-btn {
        width: fit-content;
        text-align: left;
        position: relative;
        height: 100%;
        width: 50%;
        @include flexCenter(row);
        transition: 0.3s ease;
        gap: 10px;
        z-index: 0;

        .header-shapes {
            max-width: 50%;
            height: 70%;
            aspect-ratio: 1;
            position: relative;
            cursor: pointer;
            @include flexCenter(row);

            .sqr {
                height: 60%;
                position: absolute;
                top: 0;
                left: 0;
                transition: 1s cubic-bezier(0,.96,.12,.99);
            }

            .tri {
                height: 60%;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 1s cubic-bezier(0,.96,.12,.99);
            }

            .circ {
                height: 60%;
                position: absolute;
                bottom: 20%;
                right: 0;
                transition: 1s cubic-bezier(0,.96,.12,.99);
            }

            .secret-text {
                padding: 5px;
                border-radius: 5px;
            }

            .sqr-active {
                top: 100%;
                left: 100%;
                transform: rotate(135deg);
            }

            .tri-active {
                bottom: -100%;
                left: 10%;
                transform: rotate(150deg);
            }

            .circ-active {
                right: -100%;
                transform: rotate(150deg);
                z-index: 31;
            }
        }

        .header-active {
        }

        h1 {
            width: fit-content;
            cursor: pointer;
        }
    }

    .create-active {
        transform: scaleY(0) translateY(20px);
        opacity: 0;
    }

    .search-ham {
        @include flexCenter(row);
        width: fit-content;
        gap: 14px;
        padding: 0 10px;
        z-index: 4;

        .ham-main {
            @include flexCenter(column);
            gap: 6px;
            width: 30px;
            aspect-ratio: 1;
            cursor: pointer;

            .ham-1, .ham-2, .ham-3 {
                height: 2px;
                width: 24px;
                background-color: black;
                transition: 0.3s ease;
            }

            .ham-1 {
                transform-origin: top left;
            }

            .ham-3 {
                transform-origin: bottom left;
            }

            .ham-active-1, .ham-active-2, .ham-active-3 {
                background-color: white;
                z-index: 10;
            }

            .ham-active-1 {
                transform: rotate(45deg)
            }

            .ham-active-2 {
                transform: translateX(40px);
                opacity: 0;
            }

            .ham-active-3 {
                transform: rotate(-45deg)
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .create-btn {
            width: fit-content;
            padding: 0 0 0 20px;

            h1 {
                font-size: 40px
            }
        }

        .search-ham {
            padding: 0 40px;
            gap: 36px;

            .ham-main {
                width: 50px;
                gap: 12px;

                .ham-1, .ham-2, .ham-3 {
                    width: 42px;
                }
            }
        }
    }
}

.nav-links {
    @include flexCenter(row);
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    pointer-events: none;
    z-index: -1;
    background-color: black;
    opacity: 0;
    transition: 0.3s ease;

    .nav-links-main {
        @include flexCenter(column);
        gap: 1em;
        width: 90%;
        align-items: flex-end;
        
        h1 {
            display: flex;
            color: rgb(255, 255, 255);
            cursor: pointer;
            transition: 0.3s ease;
            flex-direction: row-reverse;
            gap: 5px;
        }

        h1:hover {
            transform: translateY(-5px);
            color: rgb(113, 162, 241);
        }

        h1 > * {

            align-self: center;
        }
    }    
}

.nav-links-active {
    opacity: 1;
    pointer-events: all;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    .nav-links {

        .nav-links-main {

            h1 {
                font-size: 60px;
            }
        }
    }
}

@media only screen and (min-width: 1366px) {
    nav {
        justify-content: center;

        .create-btn {

            .header-shapes {
                .sqr, .tri, .circ {
                    transition: 1s cubic-bezier(0,.99,0,1);
                }

                .sqr-active {
                    height: 60%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotate(0);
                }
    
                .tri-active {
                    height: 60%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: rotate(0);
                }
    
                .circ-active {
                    height: 60%;
                    position: absolute;
                    bottom: 20%;
                    right: 0;
                    transform: rotate(0);
                }
            }

            .header-shapes:hover .sqr {
                top: -40px;
                left: -30px;
                transform: rotate(40deg);
            }

            .header-shapes:hover .tri {
                bottom: -40px;
                left: -30px;
                transform: rotate(-40deg);
            }

            .header-shapes:hover .circ {
                right: -40px;
            }
        }

        .search-ham{
            display:none;   
        }
    }

    .nav-links {
        background-color: transparent;
        opacity: 1;
        z-index: 1;
        pointer-events: none;
        justify-content: flex-start;

        .nav-links-main {
            align-items: flex-start;
            width: fit-content;
            height: fit-content;
            margin: 0 0 0 75%;
            padding: 20px;
            gap: 30px;
            pointer-events: all;
            transition: 0.3s ease;
            border-left: 1px solid rgb(240, 240, 240);

            h1 {
                flex-direction: row;
                font-size: 30px;
                color: rgb(46, 46, 46);
                border-radius: 5px;
                padding: 3px 5px;
            }
        }
    }
}