header {
  width: 100vw;
  overflow: hidden;
}

nav {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 2;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

nav .create-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  position: relative;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  gap: 10px;
  z-index: 0;
}

nav .create-btn .header-shapes {
  max-width: 50%;
  height: 70%;
  aspect-ratio: 1;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .create-btn .header-shapes .sqr {
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 1s cubic-bezier(0, 0.96, 0.12, 0.99);
  transition: 1s cubic-bezier(0, 0.96, 0.12, 0.99);
}

nav .create-btn .header-shapes .tri {
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 1s cubic-bezier(0, 0.96, 0.12, 0.99);
  transition: 1s cubic-bezier(0, 0.96, 0.12, 0.99);
}

nav .create-btn .header-shapes .circ {
  height: 60%;
  position: absolute;
  bottom: 20%;
  right: 0;
  -webkit-transition: 1s cubic-bezier(0, 0.96, 0.12, 0.99);
  transition: 1s cubic-bezier(0, 0.96, 0.12, 0.99);
}

nav .create-btn .header-shapes .secret-text {
  padding: 5px;
  border-radius: 5px;
}

nav .create-btn .header-shapes .sqr-active {
  top: 100%;
  left: 100%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

nav .create-btn .header-shapes .tri-active {
  bottom: -100%;
  left: 10%;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

nav .create-btn .header-shapes .circ-active {
  right: -100%;
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  z-index: 31;
}

nav .create-btn h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

nav .create-active {
  -webkit-transform: scaleY(0) translateY(20px);
          transform: scaleY(0) translateY(20px);
  opacity: 0;
}

nav .search-ham {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 14px;
  padding: 0 10px;
  z-index: 4;
}

nav .search-ham .ham-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  width: 30px;
  aspect-ratio: 1;
  cursor: pointer;
}

nav .search-ham .ham-main .ham-1, nav .search-ham .ham-main .ham-2, nav .search-ham .ham-main .ham-3 {
  height: 2px;
  width: 24px;
  background-color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .search-ham .ham-main .ham-1 {
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

nav .search-ham .ham-main .ham-3 {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

nav .search-ham .ham-main .ham-active-1, nav .search-ham .ham-main .ham-active-2, nav .search-ham .ham-main .ham-active-3 {
  background-color: white;
  z-index: 10;
}

nav .search-ham .ham-main .ham-active-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .search-ham .ham-main .ham-active-2 {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  opacity: 0;
}

nav .search-ham .ham-main .ham-active-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  nav .create-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 0 0 20px;
  }
  nav .create-btn h1 {
    font-size: 40px;
  }
  nav .search-ham {
    padding: 0 40px;
    gap: 36px;
  }
  nav .search-ham .ham-main {
    width: 50px;
    gap: 12px;
  }
  nav .search-ham .ham-main .ham-1, nav .search-ham .ham-main .ham-2, nav .search-ham .ham-main .ham-3 {
    width: 42px;
  }
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  pointer-events: none;
  z-index: -1;
  background-color: black;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-links .nav-links-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  width: 90%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-links .nav-links-main h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 5px;
}

.nav-links .nav-links-main h1:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #71a2f1;
}

.nav-links .nav-links-main h1 > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-links-active {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .nav-links .nav-links-main h1 {
    font-size: 60px;
  }
}

@media only screen and (min-width: 1366px) {
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .create-btn .header-shapes .sqr, nav .create-btn .header-shapes .tri, nav .create-btn .header-shapes .circ {
    -webkit-transition: 1s cubic-bezier(0, 0.99, 0, 1);
    transition: 1s cubic-bezier(0, 0.99, 0, 1);
  }
  nav .create-btn .header-shapes .sqr-active {
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  nav .create-btn .header-shapes .tri-active {
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  nav .create-btn .header-shapes .circ-active {
    height: 60%;
    position: absolute;
    bottom: 20%;
    right: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  nav .create-btn .header-shapes:hover .sqr {
    top: -40px;
    left: -30px;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  nav .create-btn .header-shapes:hover .tri {
    bottom: -40px;
    left: -30px;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  nav .create-btn .header-shapes:hover .circ {
    right: -40px;
  }
  nav .search-ham {
    display: none;
  }
  .nav-links {
    background-color: transparent;
    opacity: 1;
    z-index: 1;
    pointer-events: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-links .nav-links-main {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 0 0 75%;
    padding: 20px;
    gap: 30px;
    pointer-events: all;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-left: 1px solid #f0f0f0;
  }
  .nav-links .nav-links-main h1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 30px;
    color: #2e2e2e;
    border-radius: 5px;
    padding: 3px 5px;
  }
}
/*# sourceMappingURL=header.css.map */