@import '../../sass/flex.scss';

.modal-upper {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
    position: fixed;
    background: transparent;
    overflow: hidden;
    transition: 0.5s ease;

    .create-modal {
        @include flexCenter(column);
        justify-content: center;
        gap: 5%;
        opacity: 0;
        transition: 0.5s ease;
        position: relative;
        width: 100%;
        height: 100%;
        
        .slide-indicators {
            @include flexCenter(row);
            width: 100%;
            gap: 5%;
    
            .circle {
                height: 10px;
                aspect-ratio: 1;
                border-radius: 50%;
                border: 1px solid gray;
                transition: 0.3s ease;
            }
    
            .dot {
                background-color: rgb(128, 128, 128);
                animation: popIndicator 0.75s cubic-bezier(.35,0,.03,1.57);
            }
        }

        @media only screen and (min-width: 1366px) {
            .slide-indicators {
                gap: 3%;
            }
        }
    
        .create-form-main {
            position: relative;
            width: 100%;
            height: 50%;

            .create-form {
                @include flexCenter(row);
                position: absolute;
                width: 300vw;
                height: 100%;
                transition: 0.3s ease;
        
                input, textarea, button {
                    width: 97%;
                    border: none;
                    outline: none;
                    padding: 2%;
                    background-color: rgb(235, 235, 235);
                    border-radius: 5px;
                    font-size: 20px;
                }
        
                button {
                    width: 100%;
                    padding: 10px 0;
                    border: 1px solid rgb(173, 173, 173);
                }
        
                .upload-slide {
                    @include flexCenter(column);
                    width: 100vw;
                    height: 100%;
                    gap: 4%;
        
                    .upload-container {
                        @include flexCenter(column);
                        width: 90%;
                        height: 10%;
                        font-size: 20px;
                        gap: 5px;
        
                        button {
                            padding: 0;
                            height: 100%;
                            cursor: pointer;
                        }

                        .link-upload {
                            height: 50%;
                            font-size: 16px; 
                        }
                    }
            
                    .skeleton-load {
                        @include flexCenter(column);
                        max-width: 90%;
                        height: 100%;
                        aspect-ratio: 1;
                        border: 2px dashed rgb(184, 184, 184);
                        animation: skeleton 3.5s infinite ease-in-out;
                        overflow: hidden;
        
                        img, video {
                            width: 100%;
                        }
                    }
        
                    .skeleton-invis {
                        animation: skeleVisible;
                        max-width: 90%;
                    }
    
                    @media only screen and (min-width: 768px) {
                        .upload-container {
                            width: 55%;
                        }
                    }
    
                    @media only screen and (min-width: 1024px) {
                        .upload-container {
                            width: 35%;
                        }
                    }

                    @media only screen and (min-width: 1366px) {
                        .upload-container {
                            width: 25%;
                        }
                    }
                }
        
                .title-desc-slide {
                    @include flexCenter(column);
                    width: 100vw;
                    height: 100%;
        
                    .title-desc {
                        @include flexCenter(column);
                        max-width: 90%;
                        height: 100%;
                        aspect-ratio: 1;
                        gap: 2%;
        
                        input {
                            font-size: 20px;
                            height: 10%;
                        }
            
                        textarea {
                            font-size: 20px;
                            resize: none;
                            height: 85%;
                        }
                    }
    
                    @media only screen and (min-width: 768px) {
                        .title-desc {
                            font-size: 30px;
    
                            input {
                                font-size: 24px;
                            }
    
                            textarea{
                                font-size: 24px;
                            }
                        }
                    }
    
                    @media only screen and (min-width: 1024px) {
                        .title-desc {    
                            width: 35%;
                        
                            input {
                                font-size: 20px;
                            }
    
                            textarea{
                                font-size: 20px;
                            }
                        }
                    }

                    @media only screen and (min-width: 1366px) {
                        .title-desc {   
                            width: 25%;
                            
                        }
                    }
                }
        
                .tags-slide {
                    @include flexCenter(column);
                    justify-content: center;
                    gap: 1%;
                    width: 100vw;
                    height: 100%;

                    .tags-container {
                        @include flexCenter(row);
                        justify-content: flex-start;
                        align-items: flex-start;
                        align-content: flex-start;
                        flex-wrap: wrap;
                        height: 100%;
                        max-width: 90%;
                        aspect-ratio: 1;
                        overflow-y: scroll;
                        gap: 2%;
        
                        .tag-container {
                            @include flexCenter(row);
                            gap: 20px;
                            border: 1px solid gray;
                            background-color: rgba(230, 230, 230, 0.5);
                            border-radius: 30px;
                            padding: 1% 5%;
                            
                            .tag {
                                font-size: 20px;
                            }
            
                            .remove-tag {
                                font-size: 24px;
                            }
                        }
                    }

                    .tags-container::-webkit-scrollbar {
                        width: 8px;
                        border: 1px solid rgb(211, 211, 211);
                        border-radius: 5px;
                    }
                
                    .tags-container::-webkit-scrollbar-thumb {
                        background-color: gray;
                        border-radius: 5px
                    }
        
                    input {
                        width: 85%;
                    }
        
                    button {
                        padding: 0;
                        height: 100%;
                        width: 45%;
                    }
    
                    @media only screen and (min-width: 768px) {
    
                        .tags-container {
                            padding: 10px;
    
                            .tag-container {
                                .tag {
                                    font-size: 20px;
                                }
    
                                .remove-tag {
                                    font-size: 20px;
                                }
                            }
                        }
    
                        input {
                            width: 55%;
                            font-size: 20px;
                            padding: 5px;
                            background-color: rgb(230, 228, 228);
                        }
                    }
    
                    @media only screen and (min-width: 1024px) {
    
                        .tags-container {
                            width: 35%;
                        }
    
                        input {
                            width: 35%;
                            font-size: 24px;
                        }
                    }

                    @media only screen and (min-width: 1366px) {
    
                        .tags-container {
                            width: 25%;
                        }
    
                        input {
                            width: 25%;
                        }
                    }
                }
        
                .remove-tag {
                    cursor: pointer;
                }
            }
        }
    
        .form-left {
            left: 0;
        }
    
        .form-mid {
            left: -100vw;
        }
    
        .form-right {
            left: -200vw;
        }
    
        .btn-container {
            position: relative;
            width: 90%;
            height: 4vh;
    
            .back-btn, .next-btn, .create-btn {
                position: absolute;
                width: 45%;
                height: 100%;
                border: 1px solid rgb(173, 173, 173);
                border-radius: 5px;
                opacity: 0;
                transform: translateY(30px);
                transition: 0.3s ease;
                font-size: 20px;
                cursor: pointer;
            }
    
            .next-btn, .create-btn {
                right: 0;
            }
    
            .create-btn {
                transform: translateY(-30px);
                color: white;
                background-color: rgb(56, 56, 56);
            }
    
            .btn-active {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .error {
            position: absolute;
            font-size: 20px;
            color: rgb(243, 111, 111);
            animation: error 1s infinite ease;
            bottom: 7vh;
        }
        
        @media only screen and (min-width: 768px) {
            .btn-container {
                width: 55%;
            }

            .error {
                font-size: 40px;
                bottom: 5vh;
            }
        }

        @media only screen and (min-width: 1024px) {
            .btn-container {
                width: 35%;
            }

            .error {
                font-size: 40px;
                bottom: 5vh;
            }
        }

        @media only screen and (min-width: 1366px) {
            .btn-container {
                width: 25%;

                .back-btn, .next-btn, .create-btn {
                    width: 48%;
                }
            }
        }
    }

    @media only screen and (min-width: 1366px) {
        .create-modal {
            gap: 3%;
        }
    }

    .modal-active {
        opacity: 1;
        transition: 0.5s ease;
    }
}

.modal-upper-active {
    z-index: 2;
    background-color: rgb(218, 218, 218);
    pointer-events: all;
    transition: 0.5s ease;
}

.create-icon {
    @include flexCenter(row);
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    bottom: 20px;
    right: 20px;
    pointer-events: all;
  
    .create-icon-2 {
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        background-color: rgb(144, 201, 255);
        backdrop-filter: blur(15px);
        border-radius: 5%;
        filter: drop-shadow(2px 2px 2px rgb(201, 201, 201));
        transition: 0.1s ease;
        z-index: 2;
    }

    .create-icon-x {
        transform: rotate(45deg);
        background-color: rgb(255, 144, 144);
        backdrop-filter: blur(15px);
        filter: drop-shadow(1px -1px 1px gray);
        border-radius: 50%;
    }
}  

@media only screen and (min-width: 768px) {
    .create-icon-edit {
        width: 50px;
        bottom: 40px;
        right: 40px;

        .create-icon-2 {
            font-size: 30px;
            padding: 10px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .create-icon {
        width: 50px;
        bottom: 40px;
        right: 40px;

        .create-icon-2 {
            font-size: 30px;
            padding: 10px;
        }
    }
}

@media only screen and (min-width: 1366px) {
    .create-icon {
        width: 50px;
        bottom: 40px;
        left: 75vw;

        .create-icon-2 {
            font-size: 30px;
            padding: 10px;
        }
    }
}

@keyframes skeleton {
    100%, 0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

@keyframes skeleVisible {
    100%, 0% {
        opacity: 0;
    }
}

@keyframes popIndicator {
    100%, 0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes error {
    100%, 0% {
        opacity: 0.3
    }
    50% {
        opacity: 1;
    }
}