header {
  width: 100vw;
  overflow: hidden;
}

nav {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

nav .create-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  position: relative;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .create-btn h1 {
  cursor: pointer;
}

nav .create-btn .create-1, nav .create-btn .create-2 {
  position: absolute;
  height: 80%;
  width: 5px;
}

nav .create-btn .create-1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: none;
  top: 0;
  left: 10px;
}

nav .create-btn .create-2 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: 2px solid black;
  top: 0;
  right: 10px;
}

nav .create-active {
  -webkit-transform: scaleY(0) translateY(20px);
          transform: scaleY(0) translateY(20px);
  opacity: 0;
}

nav .search-box {
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 0;
  border: none;
  z-index: -1;
  outline: none;
  font-size: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(-20px) scaleY(0);
          transform: translateY(-20px) scaleY(0);
  padding: 0 10px;
  background: none;
}

nav .search-active {
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

nav .search-ham {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  padding: 0 10px;
  z-index: 4;
}

nav .search-ham .search-icon {
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}

nav .search-ham .ham-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  width: 30px;
  aspect-ratio: 1;
  cursor: pointer;
}

nav .search-ham .ham-main .ham-1, nav .search-ham .ham-main .ham-2, nav .search-ham .ham-main .ham-3 {
  height: 2px;
  width: 24px;
  background-color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .search-ham .ham-main .ham-1 {
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

nav .search-ham .ham-main .ham-3 {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

nav .search-ham .ham-main .ham-active-1, nav .search-ham .ham-main .ham-active-2, nav .search-ham .ham-main .ham-active-3 {
  background-color: white;
}

nav .search-ham .ham-main .ham-active-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .search-ham .ham-main .ham-active-2 {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  opacity: 0;
}

nav .search-ham .ham-main .ham-active-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  pointer-events: none;
  z-index: -1;
  background-color: black;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-links .nav-links-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  width: 90%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-links .nav-links-main a h1 {
  color: white;
}

.nav-links-active {
  opacity: 1;
  pointer-events: all;
  z-index: 3;
}

.create-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}

.create-modal .create-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 300vw;
  height: 70vh;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.create-modal .create-form input, .create-modal .create-form textarea, .create-modal .create-form button {
  width: 97%;
  border: none;
  outline: none;
  padding: 2%;
  background-color: #ebebeb;
  border-radius: 5px;
  font-size: 20px;
}

.create-modal .create-form button {
  width: 100%;
  padding: 10px 0;
  border: none;
}

.create-modal .create-form .upload-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  aspect-ratio: 1;
  gap: 2%;
}

.create-modal .create-form .upload-slide .upload-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.create-modal .create-form .upload-slide .skeleton-load {
  width: 88%;
  aspect-ratio: 1;
  border: 2px dashed #b8b8b8;
  -webkit-animation: skeleton 3.5s infinite ease-in-out;
          animation: skeleton 3.5s infinite ease-in-out;
}

.create-modal .create-form .title-desc-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  aspect-ratio: 1;
}

.create-modal .create-form .title-desc-slide .title-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  aspect-ratio: 1;
  gap: 2%;
}

.create-modal .create-form .title-desc-slide .title-desc input {
  font-size: 20px;
  height: 10%;
}

.create-modal .create-form .title-desc-slide .title-desc textarea {
  font-size: 20px;
  resize: none;
  height: 85%;
}

.create-modal .create-form .tags-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  gap: 1%;
  width: 100vw;
  aspect-ratio: 1;
}

.create-modal .create-form .tags-slide .tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  aspect-ratio: 1;
  overflow-y: scroll;
  gap: 2%;
}

.create-modal .create-form .tags-slide .tags-container .tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 1% 5%;
}

.create-modal .create-form .tags-slide .tags-container .tag-container .tag {
  font-size: 20px;
}

.create-modal .create-form .tags-slide .tags-container .tag-container .remove-tag {
  font-size: 24px;
}

.create-modal .create-form .tags-slide input {
  width: 85%;
}

.create-modal .create-form .tags-slide button {
  padding: 0;
  height: 100%;
  width: 45%;
}

.create-modal .create-form .remove-tag {
  cursor: pointer;
}

.create-modal .form-left {
  left: 0;
}

.create-modal .form-mid {
  left: -100vw;
}

.create-modal .form-right {
  left: -200vw;
}

.create-modal .btn-container {
  position: absolute;
  bottom: 15vh;
  width: 90%;
  height: 5vh;
}

.create-modal .btn-container .back-btn, .create-modal .btn-container .next-btn, .create-modal .btn-container .create-btn {
  position: absolute;
  width: 45%;
  height: 100%;
  border: none;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 20px;
}

.create-modal .btn-container .next-btn, .create-modal .btn-container .create-btn {
  right: 0;
}

.create-modal .btn-container .create-btn {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.create-modal .btn-container .btn-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.create-modal .create-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 40px;
  aspect-ratio: 1;
  bottom: 20px;
  right: 20px;
}

.create-modal .create-icon .create-icon-1, .create-modal .create-icon .create-icon-3 {
  position: absolute;
  height: 90%;
  width: 20%;
}

.create-modal .create-icon .create-icon-1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: none;
  left: 0;
}

.create-modal .create-icon .create-icon-2 {
  font-size: 30px;
  cursor: pointer;
}

.create-modal .create-icon .create-icon-3 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: 2px solid black;
  right: 0;
}

@-webkit-keyframes skeleton {
  100%, 0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

@keyframes skeleton {
  100%, 0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
/*# sourceMappingURL=create.css.map */