@import '../../../sass/flex.scss';

.modal-upper-edit {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
    position: fixed;
    background: transparent;
    overflow: hidden;
    transition: 0.5s ease;

    .delete-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(77, 77, 77, 0.4);
        z-index: 5;
        transition: 0.5s ease;
        opacity: 0;
        pointer-events: none;
        @include flexCenter(row);

        .delete-modal {
            width: 80%;
            padding: 5%;
            @include flexCenter(column);
            background-color: rgba(53, 53, 53, 0.8);
            border: 1px solid white;
            border-radius: 10px;
            backdrop-filter: blur(60px);
            gap: 30px;

            h1 {
                color: white;
                font-size: 24px;
            }
            
            .del-btns {
                width: 100%;
                @include flexCenter(row);
                justify-content: space-between;

                button {
                    width: 48%;
                    padding: 5px 0;
                    border: none;
                    border-radius: 5px;
                }

                .del-btn {
                    background-color: rgb(209, 87, 87);
                    color: white;
                }
            }
        }
    
        .deleteModalActive {
            pointer-events: all;
        }
    }

    .deleteOverlayActive {
        opacity: 1;
    }

    .create-modal {
        @include flexCenter(column);
        opacity: 0;
        transition: 0.5s ease;
        position: relative;
        width: 100%;
        height: 100%;
        
        
        .slide-indicators {
            position: absolute;
            @include flexCenter(row);
            top: 15vh;
            width: 100%;
            gap: 5%;
    
            .circle {
                height: 10px;
                aspect-ratio: 1;
                border-radius: 50%;
                border: 1px solid gray;
                transition: 0.3s ease;
            }
    
            .dot {
                background-color: gray;
                animation: popIndicator 0.75s cubic-bezier(.35,0,.03,1.57);
            }
        }
    
        .create-form {
            @include flexCenter(row);
            position: absolute;
            width: 300vw;
            height: 70vh;
            transition: 0.3s ease;
    
            input, textarea, button {
                width: 97%;
                border: none;
                outline: none;
                padding: 2%;
                background-color: rgb(235, 235, 235);
                border-radius: 5px;
                font-size: 20px;
            }
    
            button {
                width: 100%;
                padding: 10px 0;
                border: none;
            }
    
            .upload-slide {
                @include flexCenter(column);
                width: 100vw;
                aspect-ratio: 1;
                gap: 2%;
    
                .upload-container {
                    @include flexCenter(column);
                    width: 90%;
                    height: 10%;
    
                    button {
                        padding: 0;
                        height: 100%;
                    }
                }
        
                .skeleton-load {
                    @include flexCenter(column);
                    width: 88%;
                    height: 90%;
                    border: 2px dashed rgb(184, 184, 184);
                    animation: skeleton 3.5s infinite ease-in-out;
                    overflow: hidden;
    
                    img, video {
                        width: 100%;
                    }
                }
    
                .skeleton-invis {
                    animation: skeleVisible;
                    width: 90%;
                }

                @media only screen and (min-width: 768px) {
                    .skeleton-load {
                        width: 75%;
                        height: auto;
                        aspect-ratio: 1
                    }

                    .upload-container {
                        width: 75%;
                        height: 8%;
                    }
                }
            }
    
            .title-desc-slide {
                @include flexCenter(column);
                width: 100vw;
                aspect-ratio: 1;
    
                .title-desc {
                    @include flexCenter(column);
                    width: 90%;
                    height: 100%;
                    aspect-ratio: 1;
                    gap: 2%;
    
                    input {
                        font-size: 20px;
                        height: 10%;
                    }
        
                    textarea {
                        font-size: 20px;
                        resize: none;
                        height: 85%;
                    }
                }

                @media only screen and (min-width: 768px) {
                    .title-desc {
                        width: 75%;
                        height: auto;
                        aspect-ratio: 1;
                        font-size: 30px;

                        input {
                            font-size: 30px;
                        }

                        textarea{
                            font-size: 30px;
                        }
                    }
                }
            }
    
            .tags-slide {
                @include flexCenter(column);
                justify-content: center;
                gap: 1%;
                width: 100vw;
                aspect-ratio: 1;
    
                .tags-container {
                    @include flexCenter(row);
                    justify-content: flex-start;
                    align-items: flex-start;
                    align-content: flex-start;
                    flex-wrap: wrap;
                    width: 90%;
                    aspect-ratio: 1;
                    overflow-y: scroll;
                    gap: 2%;
    
                    .tag-container {
                        @include flexCenter(row);
                        gap: 20px;
                        border: 1px solid gray;
                        background-color: rgba(230, 230, 230, 0.5);
                        border-radius: 30px;
                        padding: 1% 5%;
                        
                        .tag {
                            font-size: 20px;
                        }
        
                        .remove-tag {
                            font-size: 24px;
                        }
                    }
    
                }
    
                input {
                    width: 85%;
                }
    
                button {
                    padding: 0;
                    height: 100%;
                    width: 45%;
                }

                @media only screen and (min-width: 768px) {

                    .tags-container {
                        width: 75%;

                        .tag-container {


                            .tag {
                                font-size: 30px;
                            }

                            .remove-tag {
                                font-size: 30px;
                            }
                        }
                    }

                    input {
                        width: 73%;
                        font-size: 30px;
                    }
                }
            }
    
            .remove-tag {
                cursor: pointer;
            }
        }
    
        .form-left {
            left: 0;
        }
    
        .form-mid {
            left: -100vw;
        }
    
        .form-right {
            left: -200vw;
        }
    
        .btn-container {
            position: absolute;
            bottom: 15vh;
            width: 90%;
            height: 5vh;
    
            .back-btn, .next-btn, .create-btn {
                position: absolute;
                width: 45%;
                height: 100%;
                border: none;
                border-radius: 5px;
                opacity: 0;
                transform: translateY(30px);
                transition: 0.3s ease;
                font-size: 20px;
            }
    
            .next-btn, .create-btn {
                right: 0;
            }
    
            .create-btn {
                transform: translateY(-30px);
                pointer-events: none;
            }
    
            .btn-active {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
            }

            .delete {
                background-color: rgb(182, 83, 83);
                color: rgb(255, 255, 255);
            }
    
        }
        
        @media only screen and (min-width: 768px) {
            .btn-container {
                bottom: 12vh;
                width: 75%;

            }
        }
    }
    .modal-active {
        opacity: 1;
        transition: 0.5s ease;
    }
    
}

.modal-upper-active {
    z-index: 2;
    background-color: rgb(218, 218, 218);
    pointer-events: all;
    transition: 0.5s ease;
}

.create-icon-edit {
    @include flexCenter(row);
    position: absolute;
    width: 40px;
    aspect-ratio: 1;
    bottom: 20px;
    right: 20px;
    pointer-events: all;
  
    .create-icon-2 {
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        background-color: rgb(144, 201, 255);
        backdrop-filter: blur(15px);
        border-radius: 5%;
        filter: drop-shadow(2px 2px 2px rgb(201, 201, 201));
        transition: 0.1s ease;
        z-index: 2;
    }

    .create-icon-x {
        transform: rotate(45deg);
        background-color: rgb(255, 144, 144);
        backdrop-filter: blur(15px);
        filter: drop-shadow(1px -1px 1px gray);
        border-radius: 50%;
    }
}  

@media only screen and (min-width: 768px) {
    .create-icon-edit {
        width: 80px;
        bottom: 40px;
        right: 40px;

        .create-icon-2 {
            font-size: 40px;
            padding: 20px;
        }
    }
}

@keyframes skeleton {
    100%, 0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

@keyframes skeleVisible {
    100%, 0% {
        opacity: 0;
    }
}

@keyframes popIndicator {
    100%, 0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}