@import '../../sass/flex.scss';

.post-upper {
    @include flexCenter(column);
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.5s ease;
    position: relative;
    overflow-y: scroll;

    .post-container {
        @include flexCenter(column);
        margin: 10vh 0 10vh 0;
        width: 90%;
        gap: 15px;

        .file-container {
            max-width: 100%;
            aspect-ratio: 1;
            overflow: hidden;

            img, video {
                width: 100%;
            }
        }

        h1, p {
            width: 100%;
            align-self: left;
        }

        .title-at {
            @include flexCenter(row);
            justify-content: space-between;
            width: 100%;

            h1 {
                width: 50%;
            }
            
            p {
                text-align: right;
                width: 50%;
                color: rgb(51, 153, 236);
                text-decoration: underline 1px;
            }
        }

        .tag-container {
            @include flexCenter(row);
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 2%;
            width: 100%;

            p {
                border: 1px solid gray;
                border-radius: 15px;
                padding: 3px 15px;
                margin: 2px 0;
                width: fit-content;
            }
        }

        .edit-btn {
            width: 100%;
            border: none;
            padding: 5px 0;
            border-radius: 5px;
            background-color: rgb(59, 59, 59);
            color: rgb(243, 243, 243);
            outline: none;
            cursor: pointer;
        }
    }

    @media only screen and (min-width: 768px) {
        .post-container {
            width: 65%;
            margin: 0;
            margin: 15vh 0 10vh 0;


            h1, p {
                font-size: 18px;
            }

            .title-at {
                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 26px;
                    cursor: pointer;
                }
            }

            .tag-container {

                p {
                    margin: 4px 0;
                }
            }

            .edit-btn {
                font-size: 24px;
                cursor: pointer;
            }
        }
    }

    @media only screen and (min-width: 1024px) {
        .post-container {
            height: fit-content;
            max-width: 65%;

            .file-container {
                max-width: 60%;
            }

            .title-at {
                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 26px;
                    cursor: pointer;
                    width: fit-content;
                    padding: 3px;
                    border-radius: 3px;
                    transition: 0.3s ease;
                }

                p:hover {
                    background-color: rgb(233, 233, 233);
                }
            }

            .tag-container {

                p {
                    margin: 4px 0;
                }
            }

            .edit-btn {
                font-size: 24px;
                cursor: pointer;
                transition: 0.3s ease;
            }

            .edit-btn:hover{
                background-color: rgb(119, 170, 251);
            }
        }
    }
}

@media only screen and (min-width: 1366px) {
    .post-upper {
        justify-content: center;

        .post-container {
            height: fit-content;
            aspect-ratio: 1;
            max-width: 35%;
            transition: 0.3s ease;
            padding: 30px;
            margin: 10vh 0 10vh 0;
    
            .title-at {
                p {
                    text-decoration: none;
                }
            }
    
            h1, p {
                font-size: 16px;
            }
    
            .file-container {
                max-width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 1920px) {
    .post-upper {
        .post-container {
            max-width: 35%;
    
            h1, p {
                font-size: 20px;
            }
    
            .file-container {
                max-width: 100%;
            }
        }
    }
}

.post-leave {
    opacity: 0;
    transform: translateY(-30px);
}